.container {
  text-align: center;
}

.hex-grid {
  display: grid;
  grid-template-columns: repeat(cols, 1fr);
  grid-gap: 1px;
  position: relative;
  padding-top: 40px;
  margin: 50px;
  transition: transform 0.6s ease;
}

.hex {
  width: 100px;
  height: 115px;
  background-image: url("../assets/Polygon.jpg");
  background-size: contain;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: rotate(90deg);
  position: relative;
  transition: filter 0.2s ease-in-out;
}

.hex:hover {
  filter: brightness(2);
  cursor: pointer;
}

.house-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 150%;
  height: auto;
}

.castle-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 80%;
  height: auto;
}

.castle-forshow {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
}
/* Styling for coordinates */
.hex::before {
  content: attr(data-row) "," attr(data-column);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.hex.even-column {
  transform: rotate(90deg) translateX(-58px); /* Adjust the translateX value as needed */
}

.hello-text {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 20px;
  color: #fff;
  z-index: 9999; /* Set a high z-index value to ensure it's on top */
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}

.time-text {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 20px;
  color: #fff;
  z-index: 9999; /* Set a high z-index value to ensure it's on top */
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}

.text-editor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-editor {
  background: linear-gradient(to bottom, #15152e, #000000);
  padding: 20px;
  border-radius: 8px;
  font-size: 16px;
}

.text-edit-con {
  width: 20vw;
  height: 50vh;
}

.centered-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Adjust the z-index to ensure it appears on top */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.25) 30%,
        #0000 0 70%,
        rgb(0 0 0/75%) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
