.menu {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  top: 55%; /* Center vertically */
  transform: translateY(-50%);
  right: 43%;
}

.menu a {
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
}
